<launch>

  <node pkg="winter_move_base" type="winter_move_base" respawn="false" name="move_base" output="screen" clear_params="true"> 
    <rosparam file="$(find winter_simulation)/config/winter_move_base/stage/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find winter_simulation)/config/winter_move_base/stage/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find winter_simulation)/config/winter_move_base/stage/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find winter_simulation)/config/winter_move_base/stage/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find winter_simulation)/config/winter_move_base/stage/base_local_planner_params.yaml" command="load" />
  </node>
  
</launch>
