<launch>

  <node name="map_server" pkg="map_server" type="map_server" args="/home/jobs/map1213.yaml"/> 

  <param name="robot_description" textfile="$(find winter_simulation)/urdf/moi_robot.urdf" />  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />  
  
  <arg name="use_map_topic"   default="map"/>
  <arg name="scan_topic"      default="scan"/> 
  
  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_link"/>
  <arg name="global_frame_id" default="map"/>
 
  <include file="$(find winter_navigation)/launch/amcl.launch" /> 
  
   
  <include file="$(find winter_navigation)/launch/move_base_winter.launch" /> 
   
  
   
</launch>

