<?xml version="1.0"?>
<launch>
  <param name="robot_description" textfile="$(find winter_simulation)/urdf/moi_robot.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <!-- Set the name of the map yaml file: can be overridden on the command line. -->
  <arg name="map" default="office.yaml" />

  <!-- Run the map server with the desired map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find winter_navigation)/maps/$(arg map)"/>

  <!-- The move_base node -->
  <include file="$(find winter_navigation)/launch/move_base.launch" />

  <include file="$(find winter_navigation)/launch/amcl.launch" />


</launch>
